* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ef92e9;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
}

header nav a {
    color: #fff;
    margin: 0 1em;
    text-decoration: none;
}

main {
    padding: 2em;
}

section {
    margin-bottom: 2em;
}

h2 {
    color: #333;
    border-bottom: 2px solid #333;
    padding-bottom: 0.5em;
}

article, .video {
    margin-bottom: 1
}


    
    header {
        background-image: url("images/header-bg.jpg");
        background-size: cover;
        background-position: center;
        color: #fff;
        padding: 2em;
        text-align: center;
    }
    
    footer {
        background-image: url("images/ oregon.png");
        background-size: cover;
        background-position: center;
        color: #000000;
        padding: 1em;
        text-align: center;
    }
    
    
    @media (max-width: 600px) {
        .header {
            padding: 30px 10px;
        }
        
        .main {
            padding: 2em;
            }
        
        .footer {
            padding: 15px 0;
        }
    }



    
  
